In [70]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [46]:
df = pd.read_json('train-v2.0.json')
df.drop('version', axis=1 , inplace=True)
df

                                                  data
0    {'title': 'Beyoncé', 'paragraphs': [{'qas': [{...
1    {'title': 'Frédéric_Chopin', 'paragraphs': [{'...
2    {'title': 'Sino-Tibetan_relations_during_the_M...
3    {'title': 'IPod', 'paragraphs': [{'qas': [{'qu...
4    {'title': 'The_Legend_of_Zelda:_Twilight_Princ...
..                                                 ...
437  {'title': 'Infection', 'paragraphs': [{'qas': ...
438  {'title': 'Hunting', 'paragraphs': [{'qas': [{...
439  {'title': 'Kathmandu', 'paragraphs': [{'qas': ...
440  {'title': 'Myocardial_infarction', 'paragraphs...
441  {'title': 'Matter', 'paragraphs': [{'qas': [{'...

[442 rows x 1 columns]

In [47]:
df['data'][0]['paragraphs'][0]['context']

'Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ bee-YON-say) (born September 4, 1981) is an American singer, songwriter, record producer and actress. Born and raised in Houston, Texas, she performed in various singing and dancing competitions as a child, and rose to fame in the late 1990s as lead singer of R&B girl-group Destiny\'s Child. Managed by her father, Mathew Knowles, the group became one of the world\'s best-selling girl groups of all time. Their hiatus saw the release of Beyoncé\'s debut album, Dangerously in Love (2003), which established her as a solo artist worldwide, earned five Grammy Awards and featured the Billboard Hot 100 number-one singles "Crazy in Love" and "Baby Boy".'

In [48]:
df['data'][0]['paragraphs'][0]['qas'][3]['answers'][0]['text']

'Houston, Texas'

In [49]:
df['data'][0]['paragraphs'][0]['qas'][14]['question']

"What was the name of Beyoncé's first solo album?"

In [50]:
data = pd.DataFrame(columns=['context', 'question', 'answer'])

In [51]:
k = 0
for i in tqdm(range(len(df)),desc="Processing"):
    for j in range(len(df['data'][i]['paragraphs'][0]['qas'])):
        data_raw = {'context': df['data'][i]['paragraphs'][0]['context'],
                    'question': df['data'][i]['paragraphs'][0]['qas'][j]['question'],
                    'answer': df['data'][i]['paragraphs'][0]['qas'][j]['answers'][0]['text'] if df['data'][i]['paragraphs'][0]['qas'][j]['answers'] else None}
        data.loc[k] = data_raw
        k += 1

Processing: 100%|██████████| 442/442 [00:07<00:00, 56.15it/s]

In [52]:
data

,context,question,answer
0,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s
1,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,singing and dancing
2,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,2003
3,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,"Houston, Texas"
4,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,late 1990s
...,...,...,...
3855,"Before the 20th century, the term matter inclu...",What did the term matter include after the 20t...,None
3856,"Before the 20th century, the term matter inclu...",What are atoms composed of?,None
3857,"Before the 20th century, the term matter inclu...",What are two examples of matter?,None
3858,"Before the 20th century, the term matter inclu...",What can an object's mass not come from?,None
3859,"Before the 20th century, the term matter inclu...",Matter is currently considered to be what kind...,None

In [60]:
data.dropna(subset=['answer'], inplace=True)
data.reset_index(drop=True, inplace=True)

In [61]:
data

,context,question,answer
0,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s
1,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,singing and dancing
2,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,2003
3,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,"Houston, Texas"
4,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,late 1990s
...,...,...,...
2344,Kathmandu(/ˌkɑːtmɑːnˈduː/; Nepali pronunciatio...,What country is Kathmandu the capital of?,Nepal
2345,Kathmandu(/ˌkɑːtmɑːnˈduː/; Nepali pronunciatio...,What does Upa-Mahanagar mean in English?,Sub-Metropolitan City
2346,Kathmandu(/ˌkɑːtmɑːnˈduː/; Nepali pronunciatio...,"Along with ""KTM,"" what is another nickname of ...",tri-city
2347,Kathmandu(/ˌkɑːtmɑːnˈduː/; Nepali pronunciatio...,How many people lived in Kathmandu in 2011?,"975,453"
2348,Kathmandu(/ˌkɑːtmɑːnˈduː/; Nepali pronunciatio...,How many square kilometers in size is Kathmandu?,49.45

In [62]:
def get_start_end_idx(raw):
    if raw['answer']:
        str_idx = raw['context'].find(raw['answer'])
        end_idx = str_idx + len(raw['answer'])
        return {'str_idx':str_idx,
          'end_idx': end_idx}
    else: 
        return {'str_idx':None,
          'end_idx': None}

In [63]:
a = data.iloc[0].to_dict()
a['context']

'Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ bee-YON-say) (born September 4, 1981) is an American singer, songwriter, record producer and actress. Born and raised in Houston, Texas, she performed in various singing and dancing competitions as a child, and rose to fame in the late 1990s as lead singer of R&B girl-group Destiny\'s Child. Managed by her father, Mathew Knowles, the group became one of the world\'s best-selling girl groups of all time. Their hiatus saw the release of Beyoncé\'s debut album, Dangerously in Love (2003), which established her as a solo artist worldwide, earned five Grammy Awards and featured the Billboard Hot 100 number-one singles "Crazy in Love" and "Baby Boy".'

In [64]:
get_start_end_idx(a)

{'str_idx': 269, 'end_idx': 286}

In [65]:
ids_df = pd.DataFrame(columns=['str_idx', 'end_idx'])
for i in range(len(data)):
    raw = data.iloc[i].to_dict()
    ids_df.loc[i] = get_start_end_idx(raw)

In [66]:
ids_df

      str_idx  end_idx
0         269      286
1         207      226
2         526      530
3         166      180
4         276      286
...       ...      ...
2344       27       32
2345      332      353
2346      615      623
2347      704      711
2348      725      730

[2349 rows x 2 columns]

In [67]:
data = pd.concat([data, ids_df], axis=1)

In [68]:
data

,context,question,answer,str_idx,end_idx
0,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,in the late 1990s,269,286
1,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,singing and dancing,207,226
2,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,2003,526,530
3,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,"Houston, Texas",166,180
4,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,late 1990s,276,286
...,...,...,...,...,...
2344,Kathmandu(/ˌkɑːtmɑːnˈduː/; Nepali pronunciatio...,What country is Kathmandu the capital of?,Nepal,27,32
2345,Kathmandu(/ˌkɑːtmɑːnˈduː/; Nepali pronunciatio...,What does Upa-Mahanagar mean in English?,Sub-Metropolitan City,332,353
2346,Kathmandu(/ˌkɑːtmɑːnˈduː/; Nepali pronunciatio...,"Along with ""KTM,"" what is another nickname of ...",tri-city,615,623
2347,Kathmandu(/ˌkɑːtmɑːnˈduː/; Nepali pronunciatio...,How many people lived in Kathmandu in 2011?,"975,453",704,711
2348,Kathmandu(/ˌkɑːtmɑːnˈduː/; Nepali pronunciatio...,How many square kilometers in size is Kathmandu?,49.45,725,730

In [71]:
rows_to_drop = random.sample(range(len(data)), 849)

In [72]:
data.drop(index=rows_to_drop, inplace=True)

In [73]:
data.to_csv('data.csv', index=False)